/* layout */
.outter-wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

.hero {
    padding: 30px 0 20px;
}

/* utils */
.full-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.full-area {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* chinese chess */
.chessboard-container {
    position: relative;
    z-index: 10;
    /*需要根据 .chessboard-main 的 padding 微调*/
    padding-bottom: 110.9%;
}
/*该容器提供棋盘木纹背景*/
.chessboard-bg {
    opacity: 0.75;
    background-image: url(img/woodGrain.jpg);
    background-size: contain;
}
/*该容器提供棋盘内边距*/
.chessboard-main {
    padding: 6%;
}
/*该容器画棋盘外框*/
.chessboard-grid-container {
    border: 1px solid black;
}
/*棋盘行元素用来画内部横线*/
.chessboard-row {
    position: relative;
    z-index: 10;
}
.chessboard-row::before {
    content: '';
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: black;
}
.chessboard-row:last-child::before {
    background: transparent;
}

/*棋盘格子*/
.chessboard-gird {
    position: relative;
    z-index: 10;
}
/*使用伪元素画竖线*/
.chessboard-gird::before {
    content: '';
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: black;
}
/*最后一行的补充格子 及 棋盘中间的楚河汉界 不需要竖线*/
.chessboard-gird:last-child::before,
.chessboard-row-river .chessboard-gird::before {
    background: transparent;
}
/*独立的 高度占位元素*/
.chessboard-gird-height {
    padding-bottom: 100%;
}

/*棋子定位标识（小折角）*/
.chess-pieces-location-corner {
    position: absolute;
    z-index: 10;
    width: 15%;
    height: 15%;
    border-width: 0;
    border-style: solid;
    border-color: black;
}
.chess-pieces-location-corner--LT {
    left: 10%;
    top: 10%;
    border-left-width: 1px;
    border-top-width: 1px;
}
.chess-pieces-location-corner--RT {
    right: 10%;
    top: 10%;
    border-right-width: 1px;
    border-top-width: 1px;
}
.chess-pieces-location-corner--LB {
    left: 10%;
    bottom: 10%;
    border-left-width: 1px;
    border-bottom-width: 1px;
}
.chess-pieces-location-corner--RB {
    right: 10%;
    bottom: 10%;
    border-right-width: 1px;
    border-bottom-width: 1px;
}

/*斜线及反斜线*/
.chessboard-line-slash,
.chessboard-line-backslash {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}
.chessboard-line-slash {
    /*利用背景渐变来画斜线，实现方案参考自 http://www.sohu.com/a/120126126_463987 */
    background: linear-gradient(135deg, transparent 49.3%, black 49.3%, black 50.5%, transparent 50.5%);
}
.chessboard-line-backslash {
    background: linear-gradient(45deg, transparent 49.3%, black 49.3%, black 50.5%, transparent 50.5%);
}

/*棋子位置容器，用来放棋子的，位置已固定好*/
.chess-pieces-location {
    position: absolute;
    z-index: 10;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    padding: 4%;
}
/*可移动范围颜色*/
.chess-pieces-location--moveable {
    background: rgba(0, 255, 0, 0.4);
}
.chess-pieces-location--killable {
    background: rgba(255, 0, 0, 0.4);
}
.chess-pieces-location--killable .chess-pieces {
    /*被攻击的棋子会闪烁*/
    animation: chess-pieces--blink 0.8s linear infinite;
}
.chess-pieces-location--col-last {
    left: auto;
    right: -50%;
}
.chess-pieces-location--row-last {
    top: auto;
    bottom: -50%;
}

/*棋子样式*/
.chess-pieces {
    width: 100%;
    height: 100%;
    padding: 10%;
    border-radius: 50%;
    background: #f4ebe2;
    cursor: pointer;
}
/*棋子边框*/
.chess-pieces-border {
    /*flex布局让子元素水品垂直居中*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/*棋子的字*/
.chess-pieces-character {
    font-size: 30px;
}
/*棋子文字被选中时，去掉默认的文本背景颜色*/
.chess-pieces-character::selection {
    background: transparent;
}
/*棋子红色样式*/
.chess-pieces--red .chess-pieces-border {
    border: 1px solid #f20d2b;
}
.chess-pieces--red .chess-pieces-character {
    color: #f20d2b;
}
/*棋子黑色样式*/
.chess-pieces--black .chess-pieces-border {
    border: 1px solid #333;
}
.chess-pieces--black .chess-pieces-character {
    color: #333;
}
/*棋子激活时的样式*/
.chess-pieces--active {
    /*激活的棋子会闪烁*/
    animation: animation-chess-pieces--shine 1.8s linear infinite;
}

/*辅助动画*/
/*棋子闪烁效果，代码参考 http://www.gbtags.com/gb/rtreplayerpreview/38.htm */
@keyframes chess-pieces--blink{
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0.8; }
    100% { opacity: 0.8; }
}
/*棋子发光效果*/
@keyframes animation-chess-pieces--shine {
    0% {
        box-shadow: 0 0 6px 4px #fff57d;
    }
    50% {
        box-shadow: 0 0 3px 1px #f99854;
    }
    100% {
        box-shadow: 0 0 6px 4px #fff57d;
    }
}

/*异常棋子样式*/
/*同一个棋点若有一个以上的棋子，则多余的棋子以半透明显示*/
.chess-pieces + .chess-pieces {
    opacity: 0.5;
}

/*开发模式下的样式*/
.debug-mode .chess-pieces-location:hover {
    background: rgba(0, 0, 255, 0.1);
}
.debug-mode .location-show {
    display: block !important;
    margin-left: 20px;
}